* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}

body {
    background: rgb(245, 245, 245);
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;

}

/* --- HEADER --- */

header {
    width: 100%;
    display: flex;
    padding: 1rem;
}

.back {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.back button {
    border: none;
    background: none;
    cursor: pointer;
}

.back .material-icons {
    font-size: 1.3rem;
}

.back p {
    margin-left: 3px;
    font-size: 12px;
}

.header-title {
    width: 70%;
    text-align: center;
}

.header-title h1 {
    font-weight: 300;
}


/* --- CARDS ----- */


.card-1 {
    background: white;
    margin: 20px auto;
    width: 90%;
    padding:20px;
    box-shadow: 1px 1px 5px rgb(214, 214, 214);
    border-radius:5px
}


.row-1 {
    display: flex;
    justify-content: space-between;
    margin: .5rem 0 3rem 0;
}

.row-1 h2 {
    font-size: 1.3rem;
    font-weight:300;
}

.row-1 button {
    border: none;
    background: none;
    color: rgb(250, 106, 106);
    cursor: pointer;
}

.row-2 {
    text-align: left;
    margin-bottom: 10px;
    display: flex;
    margin: .5rem 0 3rem 0;

}

.row-2 p {
    margin-right: 1.8rem;
    color: #a4a4a4;
    font-size:15px
}

.row-3 {
    display: flex;
    margin: .5rem 0 2rem 0;
}

.adult {
    margin-right: 1.5rem;
}

.adult, .child {
    display: flex;
    align-items: center
}

h4 {
    color: #a4a4a4;
}

.adultQuantity, .childQuantity, .diaryQuantity {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: .4rem;
}

.adult button, .child button {
    width: 20px;
    height: 16px;
    border: none;
    box-shadow: 1px 1px 1px rgb(173, 173, 173);
    color: rgb(250, 106, 106);
    cursor: pointer;
}

.adult p, .child p {
    width: 20px;
    text-align: center;
    color: rgb(250, 106, 106);
    
}

.btn-apply {
    width: 15%;
    background: none;
    border: none;
    text-align: right;
    color: rgb(250, 106, 106);
    cursor: pointer;
    margin-bottom: 15px;
}

.promo h2 {
    font-size: 1.3rem;
    font-weight:300;
    margin: .5rem 0;
}

.promo-code {
    display: flex;
    justify-content: space-between;
}

#promoCode {
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    width: 20%;
    text-align: center;
}


.total-card {
    display: flex;
    justify-content: space-between;
    padding: 1rem .1rem;
}

.total-card p {
    font-weight: 600;
}

.value {
    display: flex;
}

.btnConfirm {
    width: 100%;
    margin-top: 1rem;
}

.submit {
    border: none;
    width: 100%;
    border-radius: 10px;
    height: 3rem;
    font-size:1.3rem;
    font-weight:600;
    background-color: rgb(250, 106, 106);
    box-shadow: 5 5 5px rgb(214, 214, 214);
    cursor: pointer;
}