* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: rgb(246, 248, 251);
}

header {
    display: flex;
    justify-content: space-between;
    margin-top: .8rem;
    margin-bottom: 10px;
}

h3 {
    font-weight: 600;
}

.menu-title h1 {
    font-weight: 400;
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    color: black;
    display: flex;
}

article {
    margin: .2rem 0;
}

.menu-top .material-icons {
    font-size: 1.5rem;
    margin-left: .2rem;
}

.search .material-icons {
    font-size: 1.5rem;
    margin-right: .2rem;
}

.container {
    margin: 10px auto;
    width: 95%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: .5px .5px 15px #e8e8e8;
}

.col-1, .col-2{
    width: 55%;
}

.col-1 img {
    width: 90%;
    height: 80%;
    margin: .5rem 0 .5rem .3rem ;
    object-fit: ;
    border-radius: 5px;
}

.col-2 {
    margin: .5rem auto;
    font-size: .7rem;

}

.col-2  h3{
    font-size: .8rem;
    display: flex;
    justify-content: center;
    font-size: .7rem;
    margin-bottom: .5rem;
}

.material-icons {
    font-size: 1rem;
}

.col-3 {
    width: 10%;
    display: flex;
    align-items: center;
}
.local {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin: .3rem auto;
}

.stars {
    display: flex;
    margin-top: .2rem;
    justify-content: center;
}

.active {
    color: yellow;
}

.favorite {
    color: red;
}
